#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service hinetmanager /system/vendor/bin/hinetmanager
    override
    class late_start
    user root
    group root
    seclabel u:r:vendor_hinetmanager:s0
    onrestart setprop sys.hinetmanager_has_restarted 1

service hwfactoryinterface-hal-1-1 /vendor/bin/hw/vendor.huawei.hardware.hwfactoryinterface@1.1-service
    override
    class hal
    user system
    group system wifi dhcp inet net_raw net_admin media_rw
    seclabel u:r:vendor_hal_hisi_hwfactoryinterface_default:s0
