on init
#add for TrustedCore driver
    chmod 0400 /dev/hisi_teelog

#secure os tee agent
service teecd /vendor/bin/teecd
    class core
    user root
    group root readproc
    seclabel u:r:tee:s0

#system_teecd
service system_teecd /vendor/bin/system_teecd
    socket tui_daemon stream 660 root system
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root readproc


service teelogcat /vendor/bin/tlogcat -f
class late_start
user root
group system
disabled
seclabel u:r:hisilogcat:s0

# Start debug services only if persist.sys.huawei.debug.on is set to 1
on property:persist.sys.huawei.debug.on=1
start teelogcat

# Stop debug services if persist.sys.huawei.debug.on is set to 0
on property:persist.sys.huawei.debug.on=0
stop teelogcat

on post-fs-data
    mkdir /data/sec_storage_data 0700 system system
    restorecon /data/sec_storage_data
    mkdir /data/sec_storage_data_users 0700 system system
    restorecon /data/sec_storage_data_users
    mkdir /data/vendor/log/sec_storage_data 0775 system system
    mkdir /data/vendor/log/sec_storage_data/log 0755 system system
