# Supported for kernel4.1

on init
    # USB
    setprop sys.usb.configfs 1
    setprop sys.usb.controller hisi-usb-otg
    setprop sys.usb.config ${persist.vendor.usb.config}

on property:persist.vendor.usb.config=*
    setprop persist.sys.usb.config ${persist.vendor.usb.config}

on boot
    chown system system /sys/devices/platform/ff100000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff100000.hisi_usb/plugusb
